.gradle
/build/
/target/
/volumes/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/src/main/resources/application.yml

### Eclipse ###
/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/**/.DS_Store

# Do not commit production configs
src/main/resources/application-production.yml
.vscode

#java dmp
.attach*

### Our projetcs ###
.local
/.idea/workspace.xml
/.idea/